################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Journal.API/appsettings.json
/Journal.API/appsettings.Development.json
/.vs
/Journal.API/obj
/Journal.API/.vs/Journal.API
/Journal.Application/Journal.API/.vs
/Journal.Application/Journal_Application/obj
/Journal.Application/Journal_Domain/obj
/Journal.Application/Journal_MigrationsHandler/obj
/Journal.Application/Journal_Persistence.SQL/obj
/Journal.Application/Journal.API/obj/Debug/net9.0/Journal.API.AssemblyInfo.cs
/Journal.Application/Journal.API/obj/Debug/net9.0/Journal.API.AssemblyInfoInputs.cache
/Journal.Presentation/Journal.API/.vs/Journal.API/CopilotIndices/17.14.827.52834/CodeChunks.db-shm
/Journal.Presentation/Journal.API/.vs/Journal.API/CopilotIndices/17.14.827.52834/CodeChunks.db-wal
/Journal.Presentation/Journal.API/.vs/Journal.API/CopilotIndices/17.14.827.52834/SemanticSymbols.db-shm
/Journal.Presentation/Journal.API/.vs/Journal.API/CopilotIndices/17.14.827.52834/SemanticSymbols.db-wal
/Journal.Presentation/Journal.API/.vs/Journal.API/DesignTimeBuild/.dtbcache.v2
/Journal.Presentation/Journal.API/.vs/Journal.API/FileContentIndex/28b04f05-7850-4bdf-928c-306c0534edb6.vsidx
/Journal.Presentation/Journal.API/.vs/Journal.API/FileContentIndex/306e6873-7894-42d9-bca8-e359059fac6a.vsidx
/Journal.Presentation/Journal.API/.vs/Journal.API/FileContentIndex/31113b5d-a091-4053-8f38-5d45483b95ba.vsidx
/Journal.Presentation/Journal.API/.vs/Journal.API/FileContentIndex/346be81b-e91f-4fdd-b660-2b9911a2dca7.vsidx
/Journal.Presentation/Journal.API/.vs/Journal.API/FileContentIndex/45cf35b3-dfe2-4d17-b402-cb1f60a0f2e6.vsidx
/Journal.Presentation/Journal.API/.vs/Journal.API/FileContentIndex/5824ec20-f878-48b3-95a1-b880db7d4a29.vsidx
/Journal.Presentation/Journal.API/.vs/Journal.API/FileContentIndex/850dd101-6b20-4f6a-9f97-7af582f4cd6d.vsidx
/Journal.Presentation/Journal.API/.vs/Journal.API/FileContentIndex/986911e7-ebcc-4f6c-be01-a0b934ed1311.vsidx
/Journal.Presentation/Journal.API/.vs/Journal.API/FileContentIndex/cf7a9dcd-d824-4531-bd79-63641f804d52.vsidx
/Journal.Presentation/Journal.API/.vs/Journal.API/v17/.suo
/Journal.Presentation/Journal.API/obj/Debug/net9.0/Journal.API.AssemblyInfo.cs
/Journal.Presentation/Journal.API/obj/Debug/net9.0/Journal.API.AssemblyInfoInputs.cache
/Journal.Presentation/Journal.API/obj/Debug/net9.0/Journal.API.assets.cache
/Journal.Presentation/Journal.API/obj/Debug/net9.0/Journal.API.GeneratedMSBuildEditorConfig.editorconfig
/Journal.Presentation/Journal.API/obj/Debug/net9.0/rpswa.dswa.cache.json
/Journal.Presentation/Journal.API/obj/Journal.API.csproj.nuget.dgspec.json
/Journal.Presentation/Journal.API/obj/project.assets.json
/Journal.Presentation/Journal.API/obj/project.nuget.cache
/Journal.Presentation/Journal.API/CLAUDE.md
/Journal.Presentation/Journal.API/.vs/Journal.API/FileContentIndex/43cb8b82-0287-4824-a0c0-3944ed5dc2df.vsidx
/Journal.Presentation/Journal.API/.vs/Journal.API/v17/DocumentLayout.backup.json
/Journal.Presentation/Journal.API/.vs/Journal.API/v17/DocumentLayout.json
/Journal.Application/Journal_Application/bin/Debug/net9.0
/Journal.DataLayer/Journal_MigrationsHandler/bin/Debug/net9.0
/Journal.DataLayer/Journal_MigrationsHandler/obj/Debug/net9.0/ref
/Journal.DataLayer/Journal_MigrationsHandler/obj/Debug/net9.0/refint
/Journal.DataLayer/Journal_MigrationsHandler/obj/Debug/net9.0/Journal_MigrationsHandler.AssemblyInfo.cs
/Journal.DataLayer/Journal_MigrationsHandler/obj/Debug/net9.0/Journal_MigrationsHandler.AssemblyInfoInputs.cache
/Journal.DataLayer/Journal_MigrationsHandler/obj/Debug/net9.0/Journal_MigrationsHandler.assets.cache
*.cache
/Journal.DataLayer/Journal_MigrationsHandler/obj/Debug/net9.0/Journal_MigrationsHandler.csproj.FileListAbsolute.txt
/Journal.DataLayer/Journal_MigrationsHandler/obj/Debug/net9.0/Journal_MigrationsHandler.dll
/Journal.DataLayer/Journal_MigrationsHandler/obj/Debug/net9.0/Journal_MigrationsHandler.GeneratedMSBuildEditorConfig.editorconfig
/Journal.DataLayer/Journal_MigrationsHandler/obj/Debug/net9.0/Journal_MigrationsHandler.pdb
/Journal.DataLayer/Journal_MigrationsHandler/obj/Debug/net9.0/Journal_MigrationsHandler.sourcelink.json
/Journal.DataLayer/Journal_MigrationsHandler/obj/Journal_MigrationsHandler.csproj.nuget.dgspec.json
/Journal.DataLayer/Journal_MigrationsHandler/obj/project.assets.json
/Journal.DataLayer/Journal_MigrationsHandler/obj/project.nuget.cache
/Journal.DataLayer/Journal_Persistence.SQL/bin/Debug/net9.0
/Journal.DataLayer/Journal_Persistence.SQL/obj/Debug/net9.0/ref
/Journal.DataLayer/Journal_Persistence.SQL/obj/Debug/net9.0/refint
